<% link_to cart_item do %>
  <%= image_tag cart_item.picture_ids[0] if cart_item.picture_ids %>
<% end  if cart_item %>
  <div class="item details">
<%= truncate( cart_item.house_description(80), :length => 40 ) if cart_item %>
  </div>
