<% title t(:cart_title) %>

<div class="">
  <% for item in selected %>
  <%= render :partial => 'mini', :locals => { :house => item } %>
  <% end %>
</div>

<div><%= button_to t("Empty Cart"), :action => :empty_cart %></div>
