<!-- % title  t "Houses" %-->

<div class="minis">
  <% for house in @houses %>
  <%= render :partial => 'mini', :locals => { :house => house } %>
  <% end %>
</div>

<p><%= link_to t("New House"), new_house_path %></p>
