<% title  t "Houses" %>

<table>
  <% for house in @houses %>
  <%= render :partial => 'mini', :locals => { :house => house } %>
  <% end %>
</table>

<p><%= link_to t("New House"), new_house_path %></p>
