<% title t "New House" %>

<% empties = empties_helper %>

<% unless empties.empty? %>
  Empty disctionary fields:
  <%= empties %>
<p><%= link_to "Add Taggabes", new_taggable_path %></p>

<% else %>
<%= render :partial => 'form' %>
<% end %>
<p><%= link_to "Back to List", houses_path %></p>
