#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px;
  clear:both;
  font-size:1.5em;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
  color:red;
}

.fieldWithErrors input {
  background-color:pink;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#main {height:auto !important;margin:0 auto -8.6em;min-height:100%;}
input,select{width:auto;font-size:100%}
option{}
p {margin:0 0 1em}

.label{margin-top:0.5em;margin-bottom:0.1em;text-align:right;vertical-align:center}
.menu-item{padding:5px 0;font-size:1.1em;margin:5px 0;text-align:center}
#menu .menu-item{margin:0 auto}
#menu .menu {margin-right:10px}
#menu .last {margin-right:0}
.categories .category {height:210px;border:2px solid #F4C13F;padding:5px 10px;margin:0 14px 10px 0;float:left}
.categories .category.last {margin-right:0}
.category .title {font-size:1.2em;font-weight:bold}
.mini {line-height:2em;overflow:hidden;margin:5px 0;padding:5px;border:1px solid #cccccc}
.even {background-color:#f6f6f6}
.odd {background-color:#efefef}
.calendar_date_select {width:210px}
#houses_show fieldset p {width:33%;float:left}
#houses_new fieldset p, #houses_edit fieldset p {width:33%;float:left}
#houses_new .half p, #houses_edit .half p {width:50%;float:auto}
#houses_new .full p, #houses_edit .full p {width:100%;float:auto}
#houses_show fieldset.fullwidth p {width:100%;float:auto}
textarea {height:auto;width:90%}
/* #new_booking fieldset div {width:33%;float:left;margin:0 0 5px} */
#new_booking fieldset div.fieldWithErrors {width:auto;float:auto;margin:0 auto}
#new_booking textarea {height:auto}
#new_booking fieldset.half div {width:50%}
#new_booking fieldset div.clear {width:90%}
#new_booking img {padding-left:5px;margin:5px 0 0 3px}
#new_booking .photos a img {margin:0;padding:0}
.photos div {text-align:center;background-color:#FCFCFC;width:200px;float:left;margin:5px 15px;padding:5px 0 0}
.photos a img {border:1px solid #ffffff}
.photos a:hover img {border:1px solid #D75A20}
body{font-family:'Trebuchet MS',Lucida,Verdana;font-size:90%}
#search{background-color:#F5D24F;padding-bottom:10px;margin-bottom:10px;border:2px solid #F4C13F}
#search img {margin-top:5px}
#search fieldset {margin:0;padding:0 15px 1.4em;width:94%}
#menu {background:#8AC9D4 url(/images/bg.png) repeat-x;margin:0 auto;height:33px;padding-top:15px;overflow:hidden;clear:both;border-bottom:8px solid #E4F1FB}
#menu .inner {width:950px;margin:0 auto;overflow:hidden;clear:both}
.menu-item {border:2px solid #D3E0EA;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;padding:5px 10px}
a .menu-item{ font-size:1.1em;font-weight:bold}
/* a:hover .menu-item {border-color:#D75A20;background-color:#D3E0EA} */
#top {margin:0 auto}
#top .inner {padding:2px;margin:0 auto;float:none}
#top .left{height:50px;background-color:#2B5A88 }
a {color:#1B619B}
a:hover {color:#D75A20}
.container{background-color:#ffffff}
#content {margin:5px 0}
#site-name a {font-size:30px;font-weight:bold;text-decoration:none}
.pagination {float:right;padding:0 15px}
.count{font-size:1.1em;color:#D75A20;font-weight:bold}
.mini .location {font-size:1.2em}
#houses_bookings .stamp {height:210px;margin:10px 10px 20px 0px}
#houses_bookings .stamp.last {margin-right:0}
#houses_bookings li {width:33%;float:left}
#houses_bookings {overflow:hidden}
span.handle {cursor:w-resize}
.selected .menu-item {border-color:#fafafa;background-color:#E4F1FB}
.inner {margin:5px}
.breadcrumb span {padding: 0 5px;font-size:1.1em}
input[type=submit] {padding:3px 10px}
.right {float:right}