#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 40px 0;
  width: 70%;
  clear:both;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


th {float:left}
#logo {height:130px}
.menu {height:50px;margin-bottom:13px}
input,select{width:auto}
#logo,#search,#login {background:lightgray}
.label{margin-top:0.5em;margin-bottom:0.1em;text-align:right;vertical-align:center}
#search .label {height:25px;float:left}
#search .field {float:left}
.menu-item{padding:10px 0;background-color:orange;font-weight:bold;margin:10px 0;text-align:center}
#left .menu{padding:10px 0 0 10px}
#content{margin-top:10px}
.categories .category {height:210px;border:1px solid;padding:5px;margin:0 0 10px 0}
.categories .item{}
.mini {line-height:2em;overflow:hidden;margin:5px 0}
#top{margin-top:5px}
.inner {padding:10px}
.even {background-color:#f6f6f6}
.odd {background-color:#efefef}
