#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px;
  clear:both;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
  color:red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#main {height:auto !important;margin:0 auto -8.6em;min-height:100%;}
input,select{width:auto;font-size:100%}
option{}
.label{margin-top:0.5em;margin-bottom:0.1em;text-align:right;vertical-align:center}
#search .label {margin:0.5em;float:left}
#search .field {float:left}
.menu-item{padding:5px 0;font-size:1.1em;margin:5px 0;text-align:center}
#menu .menu-item{margin:0 auto}
#menu .menu {margin-right:10px}
#menu .last {margin-right:0}
.categories .category {height:210px;border:2px solid orange;padding:5px 10px;margin:0 14px 10px 0;float:left}
.categories .category.last {margin-right:0}
.category .title {font-size:1.2em;font-weight:bold}
.mini {line-height:2em;overflow:hidden;margin:5px 0;padding:5px;border:1px solid #cccccc}
.inner {padding:5px 20px 5px 5px}
.even {background-color:#f6f6f6}
.odd {background-color:#efefef}
.calendar_date_select {width:210px}
.field img{display:block;float:right;}
#houses_show fieldset p {width:33%;float:left}
#houses_show fieldset.fullwidth p {width:100%;float:auto}
#houses_show textarea {height:auto;width:90%}
.photos div {text-align:center;background-color:#FCFCFC;width:200px;float:left;margin:5px 15px;padding:5px 0 0}
.photos a img {border:1px solid #ffffff}
.photos a:hover img {border:1px solid #D75A20}
body{font-family:'Trebuchet MS',Lucida,Verdana;}
#search{background-color:#F5D24F;padding-bottom:10px;margin-bottom:10px;border:2px solid #F4C13F}
#search img {margin-top:7px}
#search fieldset {margin:0}
#menu {background:#ACCBE0 url(/images/bg.png) repeat-x;margin:0 auto;height:43px;padding-top:15px;overflow:hidden;clear:both}
#menu .inner {width:950px;margin:0 auto;overflow:hidden;clear:both}
.menu-item {border:2px solid #D3E0EA;}
a .menu-item{ font-size:1.2em;font-weight:bold}
a:hover .menu-item {border-color:#D75A20;background-color:#D3E0EA}
#top {margin:0 auto}
#top .inner {padding:2px;margin:0 auto;float:none}
#top .left{height:50px;background-color:#2B5A88 }
a {color:#1B619B}
a:hover {color:#D75A20}
.container{background-color:#ffffff}
#content {margin:5px 0}
#site-name a {font-size:30px;font-weight:bold;text-decoration:none}
.pagination {float:right;padding:0 15px}
.count{font-size:1.1em;color:#D75A20;font-weight:bold}
.mini .location {font-size:1.2em}
