#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 40px 0;
  width: 70%;
  clear:both;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


/* th {float:left} */
#logo,#login {}
.menu {height:50px;margin-bottom:13px}
input,select{width:auto;font-size:100%}
option{}
#logo,#search,#login {}
.label{margin-top:0.5em;margin-bottom:0.1em;text-align:right;vertical-align:center}
#search .label {margin:0.5em;float:left}
#search .field {float:left}
.menu-item{padding:10px 0;font-weight:bold;margin:10px 0;text-align:center}
/* #left .menu{padding:10px 0 0 10px} */
#content{}
.categories .category {height:210px;border:1px solid;padding:5px;margin:0 0 10px 0}
.categories .item{}
.mini {line-height:2em;overflow:hidden;margin:5px 0}
.inner {padding:15px;overflow:hidden}
.even {background-color:#f6f6f6}
.odd {background-color:#efefef}
.calendar_date_select {width:210px}
.field img{display:block;float:right; padding-top:5px;padding-right:8px;}

#houses_show fieldset p {width:30%;float:left}
#houses_show fieldset.fullwidth p {width:100%;float:auto}
body{background-color:#CBCBCC; color:;font-family:sans-serif,arial;}
#top{background-color:#}
#search{background-color:#F4C13F;margin-top:10px}
#menu{background-color:#D3E0EA}
.menu-item{background-color:#1B619B;}
.menu-item a {color:#F8F2E5}
#left {background-color:#D3E0EA}
#left .menu{background-color:#2B5A88}
#left a {color:#F8F2E5}
#foot{background-color:#}
#top .left{height:50px;background-color:#2B5A88 }
a:hover {color:#D75A20}
.container{background-color:#ffffff}
#site-name {font-size:30px;font-weight:bold}