#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px;
  clear:both;
  font-size:1.1em;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
  color:red;
}

.fieldWithErrors input {
  background-color:pink;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

body{font-family:Verdana;font-size:90%;background:#EBEAE8;margin:0;padding:0}
input,select{width:auto;font-size:95%}
input[type="text"], input[type="password"], input.text, input.title, textarea, select {border:1px solid silver}
select {border-top:1px solid silver}
p {margin:0 0 0.5em}
fieldset {margin:0 0 0.5em 0;padding:0 1em 1em;-moz-border-radius:5px;border-radius: 5px;-webkit-border-radius: 5px;}
h1 {font-size:1.5em}
textarea {height:auto;height:100%;width:100%}
input[type=submit] {padding:3px 10px}
a {color:#1B619B}
a:visited{color:#000;}
a:hover {color:#D75A20}
.navi input[type=submit] {cursor:pointer}
legend {padding:0 10px;margin-left:5px;font-size:1.1em;}
.search legend {padding:0 5px;margin:0; font-size:0.95em}
.label{font-weight:bold}
.left {float:left}
#slogan {padding: 0 10px}
.search .label {margin-top:0.5em;margin-bottom:0.1em;text-align:right;vertical-align:center}
.search span {display:inline;float:none}
#menu .menu-item{padding:0;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;-webkit-border-bottom-left-radius:0;
-webkit-border-bottom-right-radius:0;border-radius-bottomleft:0;border-radius-bottomright:0;}
#menu {background:#8AC9D4 url(/images/bg1.png) repeat-x 0 -14px;margin:0 auto;height:24px;padding-top:10px;overflow:hidden;clear:both;border-bottom:5px solid #E4F1FB}
.admin #menu {height:65px}
.admin #menu .menu-item {padding:5px 5px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
#menu .menu-item{margin:0 auto;border:0px none;}
#menu li {margin-left:5px;float:left;list-style:none;height:35px}
#left .menu {position:relative}
#left .menu-item {font-size:1.1em;padding:2px}
.container .inner {margin-top:0;padding-top:5px}
.menu-item {margin:5px 0 0;text-align:center;display:block;border:2px solid #E4F1FB;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;
/*-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 5px rgba(0,0,0,.2);box-shadow: 0 1px 5px rgba(0,0,0,.2)*/;font-size:1.1em;font-family:'Trebuchet MS',Lucida,Verdana;}
#menu a, #left .menu a {text-decoration:none;cursor:pointer;display:inline;font-size:1em}
#menu .selected .menu-item {border:1px solid #fafafa;font-weight:bold}
.categories {margin-bottom:10px;float:left}
.categories .category {height:150px;width:185px;border:1px solid #F8F883;padding:5px 5px;margin:0;float:left;text-align:center}
.categories .category.last {margin-right:0}
.category .title {font-size:12px;display:block;padding:2px 0}
.category .details {font-size:11px;padding-top:3px}
.mini {line-height:1.5em;overflow:hidden;margin:0 0 10px 0;padding:5px;border:1px solid #cccccc}
.even {background-color:#fcfcfc}
.odd {background-color:#f6f6f6}
tr.odd {background-color:#fff}
.calendar_date_select {width:210px}
.fullwidth span.label {float:left;padding-left:20px;clear:both;width:auto;font-size:1.1em}
.fullwidth p {width:auto;float:left;padding-right:10px;white-space:nowrap}
#house_rooms span {padding-right:3px;float:none;width:auto;white-space:nowrap}
#house_rooms p {margin-right:10px;float:left}
#house_distances span {width:40%}
#house_distances span.label {width:60%}
fieldset.full p {width:30%;float:left}
#houses_new fieldset p, #houses_edit fieldset p {width:33%;float:left}
#houses_new fieldset p input[type=text], #houses_edit fieldset p input[type=text] {width:95%}
#houses_new .half p, #houses_edit .half p {width:50%;float:auto}
#houses_new .full p, #houses_edit .full p {width:100%;float:auto}
#new_booking fieldset div.fieldWithErrors {width:auto;float:auto;margin:0 auto}
#new_booking textarea {height:auto}
#new_booking fieldset.half div {width:50%}
#new_booking fieldset div.clear {width:90%}
.bookings .admin {background-color:pink;padding:5px}
.fold img {margin:0}
#new_booking .photos a img {margin:0;padding:0}
a img,
#flash_notice, #flash_error, .stamp {-webkit-box-shadow:4px 3px 10px rgba(0,0,0,.5);-moz-box-shadow:4px 3px 10px rgba(0,0,0,.5);box-shadow:4px 3px 10px rgba(0,0,0,.5);border-top:none}
#houses_bookings a img,
a.info img, a#bottomNavClose img, #logo img {-webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
a.info {cursor:help}
.photos div {text-align:center;float:none;margin:5px 10px}
.photos a img {border:1px solid #a0a0a0}
#pictures a img {margin:5px}
#houses_bookings .photos a img {/*height:110px*/}
#houses_bookings .stamp.last {margin-right:0}
#houses_bookings li, #booking_prices li {width:33%;float:left;list-style-image:none;list-style-position:outside;list-style-type:none;}
ul#booking_prices {margin:0}
#houses_bookings .auto_complete li {width:100%}
#houses_bookings {overflow:hidden;margin:0 auto;}
.photos a:hover img,
#horizontal_carousel ul li a:hover img {border:1px solid #D75A20}
.search {border:1px solid #F4C13F;background:transparent url(/images/search-bg.jpg) repeat-y scroll left top;border-left:1px solid #F8F883;padding-bottom:10px;margin-bottom:10px;float:left;}
.search img {margin-top:5px}
.search fieldset {margin:0 0 0 10px;padding:0 15px 1.4em;width:94%}
.search .label {font-weight:normal}
.search input[type="submit"] {background:transparent url(/images/icons/24x24/001_38.png) no-repeat scroll 100% 50%;width:100px;height:30px;cursor:pointer;margin:5px}
.container{background:#fff;width:960px;padding-left:10px}
#content {margin:0;}
#site-name a {font-size:30px;font-weight:bold;text-decoration:none;color:#D75A20;font-family:'Trebuchet MS',Lucida,Verdana;text-shadow: 1px 1px 1px rgba(0,0,0,.4);}
.pagination {float:right;padding:0 15px}
.count{font-size:1.1em;color:#D75A20;font-weight:bold}
.mini .location {font-size:1.2em}
.auto_complete {z-index:1;border:1px solid silver}
.handle {cursor:move;;display:inline}
.selected .menu-item {background-color:#E4F1FB;color:#D75A20;}
#menu .selected .menu-item {height:23px}
.inner {margin:5px}
.breadcrumb span {padding: 0 2px;font-size:0.7em}
.right {float:right}
.full {width:auto}
#houses_print {width:800px}
#houses_print .right {font-size:17px;position:fixed;top:0px;left:640px;background:white;padding:2px 5px}
.haver {padding-left:10px}
.calendar_date_select td div.other {color:#FFF000;}
.fold {text-decoration:none;cursor:hand;cursor:pointer;display:block;margin:-25px 0px 5px 15px}
#houses_bookings .fold {margin:0;float:none;display:inline}
#houses_bookings .code {width:160px}
ul#houses_bookings .fold {margin:0 50px 10px 0;float:right}
.photos  a.fold:hover img {border:#000}
select#booking_country {width:215px}
#lightbox img {height:500px;width:500px}
fieldset span {width:50%;float:left;}
fieldset #sortable span {width:auto;float:none;}
fieldset #sortable li {list-style-image:none;list-style-position:outside;list-style-type:none;}
fieldset .stamp span, fieldset #houses_bookings span {float:none;}
fieldset label span.red, .red {width:auto;float:none;display:inline;color:red}
span.price {background:#fff;padding:0 10px;margin:3px 15px 10px 0;border:1px solid silver;height:1.4em}
br.zero {margin:0;padding:0;line-height:0.4em}
.mini .span-7 span {width:50%;float:left;display:block}
.mini .span-7 span.label {width:150px;float:left;display:block;text-align:right;padding-right:10px}
.mini .span-7 span.field {width:100px;float:left;display:block}
.navi .field {float:left;margin:3px 5px}
.calendar_date_select thead th, .calendar_date_select td, .calendar_date_select caption {padding:0}
.tags p {width:25%;float:left;}
.admin #login div {font-size:0.8em;border:1px solid GoldenRod}
#carousel {width:725px;margin:-20px 0 0 40px;overflow:hidden}
#carousel .container {width:10000px;height:110px}
#carousel .container .slide {height:auto;width:125px;margin-bottom:10px;float:left}
#carousel .previous_button,
#carousel .next_button {display:none}
#pages_show table, #pages_show td {vertical-align:top}
.discount {color:red}
#foot {background:#DDEEEE;margin:30px 20px 10px;padding:20px 0 10px;text-align:center;
-x-system-font:none;
color:#665544;
font-family:Georgia,"Times New Roman",serif;
font-size:14px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:17px;
margin-bottom:12px;}
.frame {}