<% title "Események" %>

<%#= will_paginate @logs, :previous_label => t(:prev_link), :next_label => t(:next_link) %>
<table>
<tr>
<th>Dátum</th>
<th>Művelet</th>
</tr>
  <% for log in @logs %>
<tr>
<td><%= log.created_at %></td>
<td><%= h log.action %></td>
</tr>
  <%end %>
</table>
<%#= will_paginate @logs, :previous_label => t(:prev_link), :next_label => t(:next_link) %>
