<% title t("Edit Booking") %>

<%= render :partial => 'form', :locals => {:booking => @booking, :houses => @houses, :houses_bookings => @houses_bookings} %>

<p>
  <%= link_to t("admin.show"), @booking %> |
  <%= link_to t("admin.view_all"), houses_bookings_path %>
</p>
