<% title "Room Type" %>

<p>
  <strong>Name:</strong>
  <%=h @room_type.name %>
</p>

<p>
  <%= link_to "Edit", edit_room_type_path(@room_type) %> |
  <%= link_to "Destroy", @room_type, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", room_types_path %>
</p>
