<% title @page.title %>
<%= RedCloth.new(t(@page.body)).to_html %>

<p>
  <%= link_to t("Edit"), edit_page_path(@page) %> |
  <%= link_to t("Destroy"), @page, :confirm => t('Are you sure?'), :method => :delete %> |
  <%= link_to t("View All"), pages_path %>
</p>
