<div class="categories span-18 last">
<% @categories[0..6].each_with_index do |category, index| %>
 <div class="span-6<%= ' last' if (index%3==2) %>">
  <div class="span-6"><span class="title"><%= link_to category[:name], :controller => :houses, :action => :index, :category => category[:name] %></span></div>
<% unless category[:house].nil? or category[:house].picture_urls.nil? %>
<% link_to category[:house] do %>
  <%= image_tag category[:house].picture_urls[0], :size => '210x140' %>
<% end %>
<% end %>
  <div class="span-6 details">
<%= truncate( category[:house].house_description(80), :length => 40 ) if category[:house] %>
  </div>
 </div>
<% end %>
</div>