<% title "Lay" %>

<p>
  <strong>Name:</strong>
  <%=h @lay.name %>
</p>

<p>
  <%= link_to "Edit", edit_lay_path(@lay) %> |
  <%= link_to "Destroy", @lay, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", lays_path %>
</p>
