<% title t('admin.new_taggable') %>

Üres szótárak:
<%= House.column_names.select{|name| name.match(/_id/) }.select{|field| Taggable.find_by_field(field).nil? }.join(', ') %>

<%= render :partial => 'form' %>

<p><%= link_to t('admin.show_all'), taggables_path %></p>
